#kwadrat1
{
	width:100px;
	height:100px;
	background-color: red;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

#kwadrat2
{
	width:100px;
	height:100px;
	background-color: green;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

#kwadrat3
{
	width:100px;
	height:100px;
	background-color: black;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

#kwadrat4
{
	width:100px;
	height:100px;
	background-color: yellow;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

.kwadrat
{
	width:100px;
	height:100px;
	background-color: blue;
	margin-top:10px;
	margin-bottom:10px;
	border: 3px solid red
}